@model AuthorViewModel
@using Application.DTOs

<h2>Автор</h2>

@if (User.IsInRole("Admin"))
{
    <form action="@Url.Action("DeleteAuthor", "Author", new { id = Model.Author.Id })" method="post">
        <input type="submit" value="Удалить" />
    </form>
}

@if (User.IsInRole("Admin"))
{
    <a href="@Url.Action("UpdateAuthor", "Author", new { id = Model.Author.Id })">Редактировать автора</a>
}

<p>Имя:</p>
<p>@Model.Author.FirstName @Model.Author.LastName</p>
<p>Дата рождения:</p>
<p>@Model.Author.DateOfBirth</p>
<p>Страна:</p>
<p>@Model.Author.Country</p>

<h3>Книги автора:</h3>
@if (Model.Author.Books != null && Model.Author.Books.Any())
{
    <ul>
        @foreach (var book in Model.Author.Books)
        {
            <li>
                <figure>
                    <a href="@Url.Action("ViewBook", "Book", new { id = book.Id })">
                        <img src="@book.BookImage" class="main-img" width="200" />
                        <p>@book.Name</p>
                    </a>
                </figure>
            </li>
        }
    </ul>

    <div>
        @if (Model.TotalPages > 1)
        {
            if (Model.CurrentPage > 1)
            {
                <a href="@Url.Action("ViewAuthor", "Author", new { AuthorId = Model.Author.Id, page = Model.CurrentPage - 1 })">Предыдущая</a>
                <span> | </span>
            }

            for (int i = 1; i <= Model.TotalPages; i++)
            {
                <a href="@Url.Action("ViewAuthor", "Author", new { AuthorId = Model.Author.Id, page = i })"
       class="@(i == Model.CurrentPage ? "active" : "")">@i</a>
                @if (i < Model.TotalPages)
                {
                    <span> | </span>
                }
            }

            if (Model.CurrentPage < Model.TotalPages)
            {
                <span> | </span>
                <a href="@Url.Action("ViewAuthor", "Author", new { AuthorId = Model.Author.Id, page = Model.CurrentPage + 1 })">Следующая</a>
            }
        }
    </div>
}
else
{
    <p>У автора нет книг.</p>
}

<a href="@Url.Action("Authors", "Author")">Вернуться к списку авторов</a>
